
@{
    ViewBag.Title = "AdminDocpost";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}
<!--admin part Docpost  section -->
<div class="main">

    <h1 class="ss_heading">Blog Post</h1>
    <div class="container">
        <div class="doc_search">

        </div>
        <div class="List_body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="List_heading">Number</th>
                        <th class="List_heading">Blog</th>
                        <th class="List_heading">Post By</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="List_text">1</th>
                        <td class="List_text">GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</td>
                        <td class="List_text">Istiaque</td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>
                    <tr>
                        <th class="List_text">2</th>
                        <td class="List_text">GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</td>
                        <td class="List_text">Istiaque</td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>
                    <tr>
                        <th class="List_text">3</th>
                        <td class="List_text">GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</td>
                        <td class="List_text">Istiaque</td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<!--admin part Docpost  section -->
