
@{
    ViewBag.Title = "AdminUserList";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}
<!--admin part Userlist  section -->
<div class="main">

    <h1 class="ss_heading">User List</h1>
    <div class="container">
        <div class="doc_search">

            <form>
                <h5>Search User :</h5>
                <input type="text" name="search">
                <button type="button" class="search-btn">Search</button>
            </form>

        </div>
        <div class="List_body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="List_heading">User Id</th>
                        <th class="List_heading">User Name</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="List_text">1</th>
                        <td class="List_text">Mark</td>
                        <td><a href="" class="List_btn">Details</a></td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>
                    <tr>
                        <th class="List_text">2</th>
                        <td class="List_text">Jacob</td>
                        <td><a href="" class="List_btn">Details</a></td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>
                    <tr>
                        <th class="List_text">3</th>
                        <td class="List_text">Larry</td>
                        <td><a href="" class="List_btn">Details</a></td>
                        <td><a href="" class="List_btn">Delete</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<!--admin part Userlist  section -->
