
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}


<!--admin home main section -->
<div class="main">
    <h2>Welcome ODABS Admin Page</h2>
    <div class="main_body">

        <div class="home_wrapper">
            <div class="main_headtxt">
                <h3>Total user</h3>
                <h5>50</h5>
            </div>
            <div class="main_headtxt">
                <h3>Active User</h3>
                <h5>50</h5>
            </div>
            <div class="main_headtxt">
                <h3>Total Doctor</h3>
                <h5>50</h5>
            </div>
            <div class="main_headtxt">
                <h3>Active Docotor</h3>
                <h5>50</h5>
            </div>
        </div>

    </div>

</div>


<!--admin home main section -->
