
@{
    ViewBag.Title = "PreAppointment";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<div class="main">
    <!--admin  check appoinment  section -->
    <h1 class="ss_heading">Next Day Appoinments</h1>
    <div class="List_body">
        <table class="table">
            <thead>
                <tr>
                    <th class="List_heading">Number</th>
                    <th class="List_heading">Doc Name</th>
                    <th class="List_heading">Hospital</th>
                    <th class="List_heading">Date</th>
                    <th class="List_heading">Time</th>
                    <th class="List_heading">Total Slot</th>
                    <th class="List_heading">Remaining Slot</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="List_text">1</td>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Apollo</td>
                    <td class="List_text">26 March</td>
                    <td class="List_text">6.00-7.00</td>
                    <td class="List_text">20</td>
                    <td class="List_text">5</td>
                    <td><a href="" class="List_btn">Cancle</a></td>
                </tr>
                <tr>
                    <td class="List_text">1</td>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Apollo</td>
                    <td class="List_text">26 March</td>
                    <td class="List_text">6.00-7.00</td>
                    <td class="List_text">20</td>
                    <td class="List_text">5</td>
                    <td><a href="" class="List_btn">Cancle</a></td>
                </tr>
                <tr>
                    <td class="List_text">1</td>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Apollo</td>
                    <td class="List_text">26 March</td>
                    <td class="List_text">6.00-7.00</td>
                    <td class="List_text">20</td>
                    <td class="List_text">5</td>
                    <td><a href="" class="List_btn">Cancle</a></td>
                </tr>

            </tbody>
        </table>
    </div>

    <!--admin  check appoinment  section -->
</div>

