
@{
    ViewBag.Title = "SeeAllPatient";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<div class="main">
    <!--admin  check appoinment  section -->
    <h1 class="ss_heading">All Patient</h1>
    <div>
        <div>
            <label class="font-weight-bold">Time:</label><h5>6.00-7.00</h5>
        </div>
        <div>
            <label class="font-weight-bold">Total Appoinment:</label><h5>20</h5>
        </div>
    </div>
    <div class="List_body">
        <table class="table">
            <thead>
                <tr>
                    <th class="List_heading">Id</th>
                    <th class="List_heading">Patient name</th>
                    <th class="List_heading">Payment</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="List_text">1</th>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Done</td>
                    <td><a href="" class="List_btn">See all patient</a></td>
                </tr>
                <tr>
                    <th class="List_text">2</th>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Done</td>
                    <td><a href="" class="List_btn">See all patient</a></td>
                </tr>
                <tr>
                    <th class="List_text">3</th>
                    <td class="List_text">Istiaque</td>
                    <td class="List_text">Done</td>
                    <td><a href="" class="List_btn">See all patient</a></td>
                </tr>

            </tbody>
        </table>
    </div>

    <!--admin  check appoinment  section -->
</div>


