
@{
    ViewBag.Title = "DocConsoleHistory";
    Layout = "~/Areas/Doctor/Views/Shared/DocHome_layout.cshtml";
}

<!--doctor part history middle section -->
<div class="container">
    <h1 class="dcsd_history">Consultation History</h1>
    <div class="col-8">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Time</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--doctor part history middle section -->
or part history middle section -->
