
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Doctor/Views/Shared/DocHome_layout.cshtml";
}

<!-- doctor page  middel section -->

<div class="container">
    <div class="middle_section_body">
        <div class="row">
            <!-- doctor home page  blog part section -->
            <div class="col-8">
                <h1 class="ss_heading">Blog</h1>
                <div class="row">
                    <div class="hd_inner_sec">
                        <h3>GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</h3>
                        <h6> March 08, 2020</h6>
                        <img src="~/image/Blogs/blog_image.jpeg">
                        <p>
                            Daily routines that involve constant exposure to pollutants  have lead to common skin problems like dry skin, irritation or premature skin aging.

                            Extensive skin care treatments become difficult due to busy schedules. Read through the article and discover some easy homemade recipes to help nourish and improve your skin.

                            Egg and Glycerin Mask:
                            Whisk together 1 large egg white, about 1 1/2 tablespoon Honey and 1 tablespoon of Glycerin. Add 1 tablespoon of honey to this paste to make a smooth face mask. Apply it for 15 minutes before washing with cold water.

                            Egg whites have astringent properties that tighten the skin. Glycerine acts as a moisturizer for smooth skin. Honey helps rejuvenate the dry skin.
                        </p>
                    </div>
                    <div class="hd_inner_sec">
                        <h3>GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</h3>
                        <h6> March 08, 2020</h6>
                        <img src="~/image/Blogs/blog_image.jpeg">
                        <p>
                            Daily routines that involve constant exposure to pollutants  have lead to common skin problems like dry skin, irritation or premature skin aging.

                            Extensive skin care treatments become difficult due to busy schedules. Read through the article and discover some easy homemade recipes to help nourish and improve your skin.

                            Egg and Glycerin Mask:
                            Whisk together 1 large egg white, about 1 1/2 tablespoon Honey and 1 tablespoon of Glycerin. Add 1 tablespoon of honey to this paste to make a smooth face mask. Apply it for 15 minutes before washing with cold water.

                            Egg whites have astringent properties that tighten the skin. Glycerine acts as a moisturizer for smooth skin. Honey helps rejuvenate the dry skin.
                        </p>
                    </div>
                    <div class="hd_inner_sec">
                        <h3>GET GLOWING WITH THESE 6 QUICK AND EASY HOMEMADE FACE MASKS</h3>
                        <h6> March 08, 2020</h6>
                        <img src="~/image/Blogs/blog_image.jpeg">
                        <p>
                            Daily routines that involve constant exposure to pollutants  have lead to common skin problems like dry skin, irritation or premature skin aging.

                            Extensive skin care treatments become difficult due to busy schedules. Read through the article and discover some easy homemade recipes to help nourish and improve your skin.

                            Egg and Glycerin Mask:
                            Whisk together 1 large egg white, about 1 1/2 tablespoon Honey and 1 tablespoon of Glycerin. Add 1 tablespoon of honey to this paste to make a smooth face mask. Apply it for 15 minutes before washing with cold water.

                            Egg whites have astringent properties that tighten the skin. Glycerine acts as a moisturizer for smooth skin. Honey helps rejuvenate the dry skin.
                        </p>
                    </div>
                    <button class="dh_btn">Go To Blogs</button>
                </div>

            </div>
            <!-- doctor home page  blog part section -->
            <!-- doctor home page  side part section -->
            <div class="col-4">

                <div class="side_body">
                    <div class="hd_side_sec">
                        <img src="~/image/doctor_details.jpg">
                        <h3>Dr.Rakibul islam</h3>
                        <h6>General Surjery,Apollo Hospital</h6>
                    </div>


                    <div class="hd_post_sec">
                        <h3>post</h3>
                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            <div class="hd_input">
                                <label>Title :</label>
                                <input type="text" name="title">
                            </div>
                            <div class="hd_input">
                                <label>Body :</label>
                                <textarea name="body" cols="40" rows="4;"></textarea>
                            </div>
                            <div class="hd_input">
                                <input type="file" name="fileToUpload" id="fileToUpload">
                            </div>
                            <button class="hd_input">Post</button>
                        </form>
                    </div>
                </div>

            </div>
            <!-- doctor home page  side part section -->

        </div>

    </div>
</div>


