
@{
    ViewBag.Title = "Help_Center";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!-- help center breadcrumb section -->



<!-- help center breadcrumb section -->
<!-- help center  image background section -->
<div class="container-fluid">
    <img src="~/image/2516306.jpg" class="hc_img_fluid" alt="Responsive image">
    <div class="hc_body">
        <p class="text_centered">
            If you have any probelm in that time when you can not out then just contact us.
            From us you can get emergency ambulance services,and also the helpline of our Doctor


            ODABS HELP YOU ANY TIME ANY WHERE JUST CONTACT US
            OR MASSAGE US. WE ARE OPEN FOR 24/7.
        </p>
        <button class="hc_btn">Contact Us</button>
    </div>
</div>

<!-- help center  image background section -->
